<form action="/articles/<%= @article.id %>" method='POST'>
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Title: <input type='text' name='title' value=<%= @article.title %>></p>
    <p>Content: <input type='text' name='content' value=<%= @article.content %>></p>
    <input type='submit'>
</form>